################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
*.user
/Test/TestExe/x64
/UC.Agent/x64
/UC.Logger/x64
/UC.Operator/x64
/UC.Tinker/x64
/UC.Utils/x64
/x64
